
.header {
  width: 90%;
  margin: 0 auto;
}

.project {
  border-top: 1px solid #333333;
  overflow: hidden;
  width: 90%;
  margin: 50px auto;
  clear: both;
}

.projectImage {
  padding-top: 2%;
  width: 32%;
  float: left;
}

.projectImage img {
  width: 90%;
}

.projectText {
  width: 68%;
  float: right;
}

.projectRole {
  color: #333333;
  font-style: italic;
}

.body p {
  margin: 3% 0;
}


@media screen and (min-width:480px) {


}


@media screen and (max-width: 479px), screen and (max-height: 400px) {

  
}





