


body {
  font-family: Helvetica, Arial, sans-serif;
}

body, div, p, ul, li, canvas {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

h1 {
  white-space: nowrap;
}

.canvasContainer {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
}

.header a, .footer a {
  color: #0000cc;
  text-decoration: none;
  white-space: nowrap;
}

.footer {
  text-align:right;
  position:absolute;
  bottom:10%;
  right:10%;
  color: #444444;
  margin-top: 70%;
}













@media screen and (min-width:480px) {

  h1 {
    margin-bottom:3%;
    font-size: 160%;
  }

  .header {
    text-align: right;
    position: absolute;
    top: 8%;
    right: 10%;
    width: 30%;
  }

  .header li {
    margin-top: 5%;
    margin-bottom: 5%;
  }


}







@media screen and (max-width: 479px) {

  h1 {
    margin-bottom: 3%;
    font-size: 100%;
  }

  .header {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
  }

  .header .title {
    background-color: #cccccc;
    border: 1px solid #888888;
  }

  .header ul {
    border-bottom: 1px solid #888888;
    padding-top:1%;
    padding-bottom:1%;
    background-color:#eeeeee;
  }

  .header li {
    font-size: 88%  ;
    display: inline;
    margin-left:5%;
    margin-right:5%;
  }

  .header p {
    display: none;
  }

  .footer {
    display: none;
  }

}


@media screen and (max-height: 400px) {

  .footer {
    display:none;
  }

}




