


body {
  font-family: Helvetica, Arial, sans-serif;
}

body, div, p, ul, li, canvas, h1, h2 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 100%;
}

h2 {
  font-size: 112%;
}

.header {
  width: 100%;
  font-size: 120%;
  overflow: hidden;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d2d2d2;
  margin: 0 auto;
  padding: 1% 0;
}

.header .title {
  float: left;
  margin-left: 5%;
}

.header .title a {
  color:#000000;
}

.title a {
  color: #000000;
}

.header .profession, .header .location {
  font-size: 80%;
}

.contact {
  float: left;
  width: 280px;
  padding: 0 5%;
  margin: 0 auto;
}

.contact ul, .blog ul {
  list-style-type: none;
  margin: 10px auto;
}

.contact h2, .blog h2, .projects h2 {
  text-decoration: underline;
}

.contact li {
  margin:0 auto 6% auto;
  font-weight: bold;
  font-size: 120%;
}

.contact img {
  height: 34px;
  margin: 0 0 -11px 0;
}

.blog {

}

.blog li {
  margin:2% auto;
  font-size: 110%;
}

.projects {
   width: 90%;
   margin: 3% auto;
}

.projects p {
  margin-top: 2%;
}

.bio {
  font-size:110%;
  margin: 3% auto;
  padding: 0 5%;
}

.bio p {
  margin: 2% auto;
}

.bio a {
  font-weight: bold;
}

.project {
  overflow: hidden;
  margin: 2% auto 6% auto;
  padding: 2.5% 0 0 0;
  clear: both;
}


.projectImage img {
  width: 90%;
}


.projectRole {
  color: #333333;
  font-style: italic;
}

.body p {
  margin: 3% 0;
}


@media screen and (min-width:480px) {

  .bio p {
    margin: 2% auto;
  }

  .projectImage {
    padding-top: 2%;
    width: 32%;
    float: left;
  }

  .projectText {
    width: 68%;
    float: right;
  }

}


@media screen and (max-width: 479px), screen and (max-height: 400px) {

  .header {
    font-size: 110%;
    padding: 2% 0;
  }

  .bio p {
    margin: 2% auto;
  }

  .projectImage {
    padding-top: 2%;
    width: 90%;
    margin: 0 auto;
  }

  .projectText {
    width: 90%;
    margin: 0 auto;
  }

  
}



