


body {
  font-family: Helvetica, Arial, sans-serif;
}

body, div, p, ul, li, canvas {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

h1 {
  white-space: nowrap;
}

.canvasContainer {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
}

a {
  color: #0000cc;
  text-decoration: none;
}

.header li {
  display: inline;
}

.title a {
  color:#000000;
}

.contactList img {
  height: 60px;
}

