


body {
  font-family: Helvetica, Arial, sans-serif;
}

body, div, p, ul, li, canvas, h1, video {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 100%;
}

.header {
  width: 100%;
  font-size: 120%;
  overflow: hidden;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d2d2d2;
  margin: 0 auto;
  padding: 1% 0;
}

.header .title {
  float: left;
  margin-left: 5%;
}

.header .title a {
  color:#000000;
}

.header .nav {
  float: right;
  text-align: right;
  margin-right: 5%;
  min-width: 50%;
}

.header .nav .navItem {
  font-weight: bold;
  margin-left: 10%;
  float: right;
}

.header .nav .navItem a {
  color: #000099;
}



