
.footer {
  text-align:right;
  position:absolute;
  bottom:10%;
  right:10%;
  color: #444444;
  margin-top: 70%;
}



.nav li {
  margin:0 0 0 4%;
  font-weight: bold;
  font-size: 120%;
}


@media screen and (min-width:480px) {

  h1 {
    margin-bottom:3%;
    font-size: 200%;
  }

  .header {
    text-align: right;
    position: absolute;
    top: 3%;
    right: 8%;
    width: 30%;
  }

  .header li {
    font-size: 120%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .canvasContainer {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
  }

}


@media screen and (max-width: 479px), screen and (max-height: 400px) {

  body {
    min-height: 480px;
  }

  h1 {
    margin:0;
    font-size: 100%;
  }

  .header {
    overflow: hidden;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d2d2d2;
    margin: 0 auto;
    padding: 3% 5%;
    top: 0;
  }

  .header .title {
    float: left;
  }

  .header .nav {
    width: 50%;
    text-align: right;
    float: right;
  }

  .header li {
    font-size: 100%;
    display: inline;
    margin-left:5%;
    margin-right:5%;
  }

  .subtitle {
    display: none;
  }

  .footer {
    display: none;
  }

  .canvasContainer {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
  }

}





